{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}

{% block headers %} <h1>¿Quienes sómos?</h1> {% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eveniet facilis doloribus ad laboriosam ea mollitia iusto sed nostrum repellendus magni fuga, quod iure molestias recusandae officia sint. Soluta, ipsa. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi commodi debitis sint! Molestias eveniet officiis, corporis debitis molestiae fugiat ad. Unde officiis nostrum sint, ea voluptatem ratione eos corporis aliquid?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magni ut nihil iste incidunt et unde. Quae maxime vel nulla error recusandae accusamus doloribus incidunt illo deleniti laboriosam? Cum, blanditiis?</p>
{% endblock %}
